p {
	font-family: "Anton", sans-Serif;
	font-style: normal;
	font-size: 45px;
}
body {
	background-image: url("https://github.com/DL321/portfolio/blob/master/IMG_0134.JPG?raw=true");
}
article {
	color: #14A883;
}
h1{
	border-style: solid;
	border-width: 10px;
	border-color: #32B369
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
