p {
	font-family: "Anton", sans-Serif;
	font-style: normal;
	font-size: 45px;
}

body {
	color: #14A883;
	background-color: Light Blue;
}
h1{
	border-style: solid;
	border-width: 10px;
	border-color: #32B369
}
