p {
	font-family: "Anton", sans-Serif;
	font-style: normal;
	font-size: 45px;
}
div {
	background-image: url("https://github.com/DL321/portfolio/blob/gh-pages/IMG_0132.JPG?raw=true");
	opacity: 0.5;
}
body {
	color: #14A883;
}
h1{
	border-style: solid;
	border-width: 10px;
	border-color: #32B369
}
